.App{
  margin-top: 10px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.card{
  width: 9rem;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 14rem;
  margin: 15px;
}

.card > p{
  height: 9rem;
  margin-top: 0;
}

.one{
  display: flex;
}

.container{
  padding-left: 8px;
}


